<%= jquery_grid :move, {:url => grid_data_moves_url } %>
  <center>
    <div style="background :black; color:white; width:975px;">Pickups</div>

    <%= jquery_grid_table %>
    <%= jquery_grid_pager %>
  </center>
